<div class="bought-list-container">
  <h1>List Movies</h1>
  {{#each movies}}
  <div class="element-movies active-button route-link" route="/detail" data-query="?id_user=1&id_film={{this.id}}" style="cursor: pointer;">
    <img src="{{this.coverImage}}" alt="Movie poster" class="movie-poster">
    <div class="movie-info">
      <h3 class="movie-title">{{this.title}} ({{this.releaseYear}})</h3>
      <h4 class="movie-director">{{this.director}}<h4/>
      <p class="movie-description">
        {{this.description}}
      </p>
      <p class="movie-genres">{{this.genre}}</p>
      <p class="movie-director">{{this.duration}} menit</p>
    {{>purchase price=this.price}}
    </div>
  </div>
  {{/each}}
</div>