<div class="video-player-container">
  <div class="video-container">
    <video id="video" controls disabled>
      <source src="{{video}}" type="video/mp4" />
    </video>
    <div id="denied" class="denied">Film ini belum dibeli</div>
  </div>
</div>
<div class="desc-video">
  <h3 style="display: inline-block;">{{title}}</h3>
  <h3 style="display: inline-block;">({{year}})</h3>
  <p>Director: {{director}}</p>
  <p>{{desc}}</p>
  <p>Genre: {{genre}}</p>
  <sl-rating label="Rating" readonly value={{rating}}></sl-rating>
  {{>purchase price = price-info}}
</div>